.calculate-button{
    width: 280px;
    height: 80px;
    margin-top: 10px;
    border-radius: 10px;
    border: none;
    font-size: large;
    font-weight: 100;
    color: white;
    background-color: rgb(109, 209, 176);
    box-shadow: 0 0 5px rgb(96, 209, 171);
}

.calculate-button:hover{
    background-color: rgb(142, 228, 199);
}

.calculate-button:active{
    background-color: rgb(89, 175, 147);
    box-shadow: 0 0 0px rgb(96, 209, 171);
}