.App{
  background-color: aquamarine;
  width: 100%;
  height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.number-simbol-box{
  display: flex;
  flex-direction: row;
}

.buttons-number{
  display: flex;
  flex-wrap: wrap;
  width: 300px;
  align-content: space-around;
  justify-content: space-around;
}

.buttons-simbol{
  display: flex;
  width: 100px;
  flex-direction: column;
  align-items: center;
}

.buttons-actions{
  display: flex;
  width: 400px;
  flex-direction: row;
  justify-content: space-around;
}